<a href="https://colab.research.google.com/github/PaletteofDesign/find-average-height-per-individual-olympian-per-year-exercise/blob/main/find_average_height_per_individual_olympian_per_year_exercise_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [4]:
f_name = '/content/drive/MyDrive/athleteEventsNoPersonal.csv'
df = pd.read_csv(f_name)
df.head()

   ID   Age  Height  ...          Sport                               Event Medal
0   5  21.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
1   5  21.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
2   5  25.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
3   5  25.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
4   5  27.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN

[5 rows x 12 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40616 entries, 0 to 40615
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      40616 non-null  int64
 1   Age     39143 non-null  float64
 2   Height  31615 non-null  float64
 3   Team    40616 non-null  object
 4   NOC     40616 non-null  object
 5   Games   40616 non-null  object
 6   Year    40616 non-null  int64
 7   Season  40616 non-null  object
 8   City    40616 non-null  object
 9   Sport   40616 non-null  object
 10  Event   40616 non-null  object
 11  Medal   5917 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.7+ MB

In [10]:
len(df.axes[0])

40616

In [9]:
len(df.axes[1])

12

In [11]:
df.isna()
#N/A is could be the result of no medal won.

          ID    Age  Height   Team    NOC  ...  Season   City  Sport  Event  Medal
0      False  False   False  False  False  ...   False  False  False  False   True
1      False  False   False  False  False  ...   False  False  False  False   True
2      False  False   False  False  False  ...   False  False  False  False   True
3      False  False   False  False  False  ...   False  False  False  False   True
4      False  False   False  False  False  ...   False  False  False  False   True
...      ...    ...     ...    ...    ...  ...     ...    ...    ...    ...    ...
40611  False  False   False  False  False  ...   False  False  False  False   True
40612  False  False   False  False  False  ...   False  False  False  False   True
40613  False  False   False  False  False  ...   False  False  False  False   True
40614  False  False   False  False  False  ...   False  False  False  False   True
40615  False  False   False  False  False  ...   False  False  False  False   True

[40616 rows x 12 columns]

In [12]:
df['City'].value_counts()

London                    3370
Athina                    2325
Beijing                   2056
Sydney                    2049
Rio de Janeiro            2037
Atlanta                   2037
Barcelona                 1973
Los Angeles               1864
Seoul                     1852
Munich                    1525
Helsinki                  1305
Roma                      1259
Montreal                  1253
Mexico City               1146
Moskva                    1116
Tokyo                     1087
Paris                     1064
Berlin                     907
Sochi                      787
Amsterdam                  757
Torino                     687
Vancouver                  673
Melbourne                  670
Antwerpen                  645
Salt Lake City             639
Stockholm                  600
Nagano                     586
Albertville                545
Lillehammer                541
Innsbruck                  504
Calgary                    393
Sarajevo                   331
Lake Placid                300
Grenoble                   291
Sankt Moritz               248
Sapporo                    226
Cortina d'Ampezzo          209
Oslo                       198
St. Louis                  184
Squaw Valley               162
Garmisch-Partenkirchen     136
Chamonix                    79
Name: City, dtype: int64

In [13]:
df['Age'].min()

11.0

In [15]:
team_filter = df['Team']=='Sweden'
sport_filter = df['Sport']=='Tug-Of-War'
len(df.loc[team_filter & sport_filter,:])

6

In [16]:
age_filter = df['Age']>40
medal_filter = df['Medal']=='Gold'
len(df.loc[age_filter & medal_filter,:])

66

In [17]:
df['Height'].mean()

175.3811165585956

In [18]:
df.groupby('Event')['Height'].mean()

Event
Alpine Skiing Men's Combined                      178.547170
Alpine Skiing Men's Downhill                      178.211679
Alpine Skiing Men's Giant Slalom                  176.739394
Alpine Skiing Men's Slalom                        176.482143
Alpine Skiing Men's Super G                       179.850575
                                                     ...
Wrestling Women's Flyweight, Freestyle            158.100000
Wrestling Women's Heavyweight, Freestyle          173.444444
Wrestling Women's Light-Heavyweight, Freestyle    170.000000
Wrestling Women's Lightweight, Freestyle          162.666667
Wrestling Women's Middleweight, Freestyle         164.533333
Name: Height, Length: 726, dtype: float64

In [22]:
df['ID'].value_counts()

119591    36
44875     32
76437     31
133279    30
21462     29
          ..
37600      1
131794     1
72401      1
115402     1
6147       1
Name: ID, Length: 20336, dtype: int64

In [21]:
one_per_athlete = df.drop_duplicates(subset='ID', keep='first')
one_per_athlete['Height'].mean()

176.31818479042698